.form-message {
    background-color: grey;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
     
    }
    .form-message label{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
    }
    #send-btn{
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: 10px;
    border: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } 